# Python
__pycache__/
*.py[cod]
*$py.class

# Escludi tutti i file e cartelle che iniziano con il punto
.*
!.gitignore

# File specifici
test_openrouter.py

# Databases
lyrics_catalog_db/

# Datasets / JSON Lines
*.jsonl
